{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">

    <div class="row">

        <div class="col-8 mt-3">
            <br>
            <h3>User Logout</h3>
            {% if request.user.is_authenticated %}
            <form method="POST" action="{% url 'accounts:logout' %}" class="form-control" >
                {% csrf_token %}
                <p>Are you sure you want to logout?</p>
                <button type="submit" class="button btn-primary mt-3">Yes, Logout</button>
            </form>
            {% else %}
                <h3>You're not logged in. Would you like to <a href="{% url 'accounts:logout' %}">Logout.</a> ?</h3>
            {% endif %}
        </div>

        <div class="col-4">
            <h3>Picture</h3>
        </div>

    </div>

</div>
{% endblock content %}
