{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">

    <div class="row">

        <div class="col-8 mt-3">

            <br>
            {% if not request.user.is_authenticated %}
            <h3>Create account | Register</h3>
            <form method="POST" action="." class="form-control" >
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            {% else %}
                <p class="text-center">You'r already looged in and can't register, please logout to access registeration form.</p>
            {% endif %}
        </div>
        <div class="col-4">Picture</div>

    </div>

</div>
{% endblock content %}
